.text-editor {
  border: 1px solid black;

  :global(.aligment-center){
    text-align: center;
  }

  :global(.aligment-left){
    text-align: left;
  }

  :global(.aligment-right){
    text-align: right;
  }
}
